<h1>縮網址</h1>
<div class="urlInput">
  <input type="text" placeholder="在這裡輸入你的網址">
  <button type="submit">縮址</button>
</div>

<div class="urlOutput">
  <label for="urlOutput">你的縮網址為</label>
  <input type="text">
</div>