<div class="bottom-section d-flex justify-content-center mt-5">
  <form action="/" method="POST" class="row row-cols-lg-auto g-3 align-items-center">
    <div class="col-11">
      <input type="text" class="form-control" placeholder="http://" name="originalUrl" value="{{originalUrl}}" required>
    </div>
    <div class="col-1">
      <button type="submit" class="btn" style="background-color: #AED8E2;color:#20061C;">Generate</button>
    </div>
  </form>
</div>
<div class="info d-flex justify-content-center mt-3">
  <div class="alert alert-info" role="alert" style="width: 245px;">
    <span class="mr-2">The provided link is incorrect.</span>
  </div>