<div class="result-section d-flex justify-content-center mt-5">
  <div class="col-4">
    {{#if currentUrl}}
    <input class="form-control" id="copy" value="{{currentUrl}}">
    {{/if}}

    {{#if shortenedUrl}}
    <input class="form-control" id="copy" value="{{shortenedUrl}}">
    {{/if}}
  </div>
  <div class="col-1">
    <button class="btn" style="background-color: #AED8E2;color:#20061C;" data-clipboard-target="#copy"
      id="btnCopy">copy</button>
  </div>
</div>