<div class="urlOutput">
  <label for="urlOutput">你的縮網址為</label>
  {{#if currentUrl}}
  <a href="{{currentUrl}}">{{currentUrl}}</a>
  {{/if}}
  {{#if shortenedUrl}}
  <a href="{{shortenedUrl}}">{{shortenedUrl}}</a>
  {{/if}}
</div>