<div class="result d-flex justify-content-center mt-5">

  {{#if currentUrl}}
  <a href="{{currentUrl}}" class="shortenedUrl">{{currentUrl}}</a>
  {{/if}}
  {{#if shortenedUrl}}
  <a href="{{shortenedUrl}}" class="shortenedUrl">{{ shortenedUrl}}</a>
  {{/if}}
</div>